{% extends 'base.html' %}

{% block main %}
    <div class="container">
      <div class="title" style="text-align:center; font-family:cursive;">
        {% if category %}
            <h1>{{ category.name }}</h1>
        {% else %}
            <h1>Category not found</h1>
        {% endif %}
    </div>
        <div class="card-deck">
            <div class="row" style="padding-bottom:1cm;">
                {% for textbook in textbooks %}
                    <div class="col-sm-4 col-md-4 col-lg-4 d-flex align-items-stretch" style="width: 40rem;">
                        <article class="card">
                            <img src="{{ url_for('static', filename='image/' ~ textbook.image) }}" style="height: 27rem;" class="card-img-top" alt="{{ textbook.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ textbook.name }}</h5>
                                <p class="card-text">${{ textbook.price }}</p>
                                <a href="{{ url_for('main.view_textbook', textbook_id = textbook.id) }}"><button type="button" class="btn btn-outline-dark">See Details</button></a>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
